<div id="tfc-concrete" class="content-section companies-section" style="display:none">
  <div class="profile-image tfc-concrete"></div>
  <p>Troy Forming Concrete Inc. is an integrated multi-trade specialty contractor providing site preparation, sewer and water main line piping; and concrete forming services for large production home builders in the Greater Denver area of Colorado. Troy Forming Concrete, which was founded over 25 years ago in 1991, has three core divisions:</p>
  <ul>
    <li>Earthmoving and Excavation: providing excavation, dirt hauling and backfilling services</li>
    <li>Main Line Piping: providing sewer and water main lines, as well as back flow unit installation</li>
    <li>Concrete Forming: providing concrete foundation forming, caissons, and pre-cast concrete products</li>
  </ul>
  <p>Troy Forming Concrete delivers this suite of services in an integrated package for production home builders and major developers, providing a one-stop shop for all of the front end services in the home building process, saving material time and costs for our developer customers.
  </p>
  <p>Noverra purchased the Company from founder Troy Lynn who has remained the President of the Company, overseeing the management team, and partnering with Noverra in the proactive development of the key leaders of the Company and the continued growth and success of the company.</p>
</div>